@model WebQuiz.Models.QuizViewModel
@{
    ViewData["Title"] = "QuizEnd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>QuizEnd</h2>
<br />
<br />
<h3>You scored <b>@Model.score</b> out of <b>@Model.totalQuestions!</b></h3>